/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    font-family: sans-serif;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  :root{
    --root__width : 437.5px
  }
   
  a{
    color: inherit;
    text-decoration: none;
  }
  .container{
    margin: 5% 10%;

   }



  .popular-movies{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
    grid-gap: 2rem 1rem; 
 }

 .list_sahi{
    width: 100%;
    min-height: 13vh;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
  // display: flex;
  // justify-content: space-between;
  padding: 10px;
  
    h2{
      // font-size: 1.2rem;
      font-size: calc( 13 + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
      padding-left: 30px;
    }
    
    .container{
      cursor: pointer;
    }
  
    .btn {
      padding-left: 10px;
      padding-top: 30px;
    }
     
    button{
      background-color: none;
      margin-right: 10px;
      border-radius: 20px;
      outline: none;
      border: none;
      cursor: pointer;
     padding: 5px  15px;
    color: rgb(139, 131, 131);

    &:hover{
      transform: scale(1.2);
    }
    }
    .play{
      background-color: wheat;
    }
    .Edit{
      background-color:lightblue;
      color: white;
    }
    .Delete{
      background-color: #e26767;
      color: white;
    }
    
  }

 .sahi{
  font-size: 2rem;
  letter-spacing: -5px;
  position: absolute;
  top: -20px;
  right: 10px;
  cursor: pointer;

 }
 h2{
    font-size: 0.8rem;
     border-radius: 100%;
 }

 /*  filter  */

 .filter-container{
    margin-bottom: 1rem;

}

.filter-container button{
  margin-right: 1rem;
  min-width: 5rem;
  padding: 0.5rem 0.5rem;
  border: none;
  background-color: white;
  color: rgb(65, 98, 168);
  border: 2px solid rgb(65, 98, 168);
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
  
 }
 .filter-container .Add_button{
  // padding: 1rem;
  font-size: 1.2rem;
 }

 button:active{
    background-color: rgb(65, 98, 168);
    color: white;
 }

 /* nav bar */
 .nav_bar{
    min-height: 7vh;
    background-color: white;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
    padding: 10px;
    // position: fixed;
    width: 100%;
    top: 0;

     /* layout  */
     display: flex;
     align-items: center;
     justify-content: space-between;
}


/* modal */
.modalContainer {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.35);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
 
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    width: var(--root__width);
    // width: calc(30vw);
    // background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    &_header {
      position: relative;
      border-bottom: 1px solid #dddddd;
      &-title {
        text-align: center;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;

        img {
          width: 1rem;
          height: auto;
          transition: all 0.3s;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &_content {
      border-bottom: 1px solid #dddddd;
      padding: 2rem 0;
    }

    &_footer {
      padding: 2rem 0;
      padding-bottom: 0;

      button {
        float: right;
        padding: 0.5rem;

        border-radius: 8px;
      }
      .modal-close {
        background-color: transparent;
        font-weight: 600;

        &:hover {
          color: rgba(54, 67, 72, 0.8);
        }
      }
      .submit {
        margin-right: 1rem;
        background-color: #364348;
        color: #fff;

        &:hover {
          background-color: rgba(54, 67, 72, 0.8);
        }
      }
    }
  }
}

//  form 
.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  

div { 
   margin: 2rem 0px;
  //  width: 30vw;
    
   input{
    width: calc(var(--root__width) - 20px);
   }
}

}

@media screen and (max-width : 500px ) {
  :root{
    --root__width : 350px 
  }
  .container{
    margin: 5% 7%;

   }

  .filter-container button{
    padding: 0.1rem 0.1rem;
  }
 }

//  
.button_adder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe_container{
  height: 50vh;
  width: 100%;
  iframe{
    width: 100%;
    height: 100%;

  }
}